<!DOCTYPE html>
<html lang="en">
	<head>
		<title>3D VOC</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				font-family: Monospace;
				background-color: #000;
				color: #fff;
				margin: 0px;
				overflow: scroll;
			}
			#info {
				color: #fff;
				position: absolute;
				top: 10px;
				width: 100%;
				text-align: center;
				z-index: 100;
				display:block;
			}
			#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }
		</style>
	</head>

	<body>
		<div id="info">
			<a href="http://threejs.org" target="_blank" rel="noopener">three.js</a> - OBJLoader + MTLLoader
			<div id="feedback"></div>
			<input type="file" id="input" onchange="handleFiles(this.files)">
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

		<script src="{{ url_for('static', filename='js/build/three.js')}}"></script>
		<script src="{{ url_for('static', filename='js/controls/OrbitControls.js')}}"></script>
		<script src="{{ url_for('static', filename='js/loaders/MTLLoader.js')}}"></script>
		<script src="{{ url_for('static', filename='js/libs/dat.gui.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/loaders/LoaderSupport.js')}}"></script>
		<script src="{{ url_for('static', filename='js/loaders/OBJLoader.js')}}"></script>
		<script src="{{ url_for('static', filename='js/loaders/OBJLoader2.js')}}"></script>
		<script src="{{ url_for('static', filename='js/libs/stats.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/Iss.js')}}"></script>

		<canvas id="Canvas"
			width="1080"
			height="600"
			style="border:1px solid #000000;"
		></canvas>

		<script>

			var render_Width = 1080;
			var render_Heigth = 600;
			var Canvas_Bboxes = [];
			var Canvas, ctx;
			var ligths = [];

			var container, stats;
			var objName,num_obj,obj_path,obj_file_name,mtl_path,mtl_file_name;
			var objectToHandle;
			var camera, scene, renderer;
			var renderWidth, renderHeigth;

			var maxOverlay = 0.50;
			var frame = 0;

			var mouseX = 0, mouseY = 0;

			var windowHalfX = render_Width / 2;
			var windowHalfY = render_Heigth / 2;
			var csv_file;
			var load_Objs_Info = [];
			var info = [];
			var shelf_distrib_x = [];
			var shelf_levels = [];

			for (var i = 0; i < 50; i++) {
				shelf_distrib_x.push([]);

			}


			for (var i = 0; i < shelf_distrib_x.length; i++) {
				for (var j = 0; j < 50; j++) {
					shelf_distrib_x[i].push(0);
				}
			}

			var img = new Image();
			/*
			var bboxes = {		"objClass": "none",
								"pixelCoordCenterX": 0,
								"pixelCoordCenterY": 0,
								"pixelCoordScaleW": 0,
								"pixelCoordScaleH": 0,
							}*/
			var indexNum=0;
			var screenBbox = { bboxes : [], imgScene: img.src, imgId: indexNum, imgSize: {w:0,h:0} };

			var angle=0.1;
			var lookNum=0;
			var Dir_ligth_num = 0;
			var vis = 0;
			var vis_1 = 0;
			var last_vis = 0;
			var class_obj = [];
			var shelf_objs = [];
			var Obj_org_Trans = [];
			var num_obj_to_hide = 2;
			var total_frames = 3564;
			var selected_file = false;

			var shelf_width = 8;
			var shelf_heigth = 20.2;
			var gondola_x_init = -85;
			var gondola_y_init = 92;
			var gondola_z_init = 36.6;


			function handleFiles(files) {
				csv_file = new FileReader();
				csv_file.readAsText(files[0]);

				csv_file.onload = csvLoadHandler;
				csv_file.onerror = csvErrorhandler;
			}

			function csvLoadHandler(event){
				var csv = event.target.result;
				processData(csv);
				init();
				get_all_class_obj();
				animate();
			}

			function csvErrorhandler(event){
				if (event.target.error.name == "NotReadableError") {
					alert('Cannot read file!')
				}
			}

			function processData(csv) {
				var allTextLines = csv.split(/\n/);
				for (var i = 0; i < allTextLines.length; i++) {
					var asd = allTextLines[i].split(',');
					if (asd.length==23) {
						info [i] = asd;
					}
				}

				for (var i = 1; i < info.length; i++) {
					var obj_info = {
						filename: info[i][info[0].indexOf('filename')],
						product_name: info[i][info[0].indexOf('product_name')],
						sku: info[i][info[0].indexOf('sku')],
						tray_x: info[i][info[0].indexOf('tray_x')],
						tray_y: info[i][info[0].indexOf('tray_y')],
						level_shelf: parseInt(info[i][info[0].indexOf('level_shelf')]),
						x_size: parseFloat(info[i][info[0].indexOf('x_size')]),
						y_size: parseFloat(info[i][info[0].indexOf('y_size')]),
						z_size: parseFloat(info[i][info[0].indexOf('z_size')]),
						init_scale_x: parseFloat(info[i][info[0].indexOf('init_scale_x')]),
						init_scale_y: parseFloat(info[i][info[0].indexOf('init_scale_y')]),
						init_scale_z: parseFloat(info[i][info[0].indexOf('init_scale_z')]),
						init_rot_x: parseFloat(info[i][info[0].indexOf('init_rot_x')]),
						init_rot_y: parseFloat(info[i][info[0].indexOf('init_rot_y')]),
						init_rot_z: parseFloat(info[i][info[0].indexOf('init_rot_z')]),
						x_items: parseFloat(info[i][info[0].indexOf('x_items')]),
						z_items: parseFloat(info[i][info[0].indexOf('z_items')]),
						x_rot: parseFloat(info[i][info[0].indexOf('x_rot')]),
						y_rot: parseFloat(info[i][info[0].indexOf('y_rot')]),
						z_rot: parseFloat(info[i][info[0].indexOf('z_rot')]),
						x_mov: parseFloat(info[i][info[0].indexOf('x_mov')]),
						y_mov: parseFloat(info[i][info[0].indexOf('y_mov')]),
						z_mov: parseFloat(info[i][info[0].indexOf('z_mov')])
					};
					load_Objs_Info.push(obj_info);
				}
				for (var i = 0; i < load_Objs_Info.length; i++) {
					for (var x_index = 0; x_index < load_Objs_Info[i].x_items; x_index++) {
						shelf_distrib_x[parseInt(load_Objs_Info[i].tray_y)][parseInt(load_Objs_Info[i].tray_x) + x_index] = load_Objs_Info[i].x_size;
					}
				}
			}

			function updateDir_LigthPosition() {
				if (scene.getObjectByName('AmbientLight').intensity<1) {
					scene.getObjectByName('AmbientLight').intensity += 0.23;
				}
				for (var i = 0; i < ligths.length; i++) {
					if (scene.getObjectByName(ligths[i]).intensity<0.77) {
					  scene.getObjectByName(ligths[i]).intensity += 0.07;
					}
				}
			}

			function updateCamPosition() {
				// rotate our camera's position on the z/y axis
				//angle += 0.05;
				lookNum+=10;
				if (lookNum >= 360) {
					lookNum = lookNum - 359;
					if (vis<5) {
						vis ++;
					}else {
						vis = 0;
						vis_1 ++;
					}
				}

				var z = 160+40 * Math.cos((3.1416/180)*lookNum);
				var y = 250+30 * Math.sin((3.1416/180)*lookNum*3);
				camera.position.z = z;
				camera.position.y = y;
				camera.position.x = -10+30 * Math.cos((3.1416/180)*lookNum*3);
				camera.lookAt(new THREE.Vector3(-10,220,0));
			}

			function sendData(data) {

				// Try HTML5 geolocation.
				//console.log("sendData....");
				//console.log(data);

				$.ajax({
					type: "POST",
					url: "/receiver",
					async: false,

					// set content type header to use Flask response.get_json()
					contentType: "application/json",

					// convert data/object to JSON to send
					data: JSON.stringify(data),

					// expect JSON data in return (e.g. Flask jsonify)
					dataType: "json",

					// handle response
					success: function(response) {
						//console.log(response);
					},
					error: function(err) {
						//console.log(err);
					}
				});
			}

			function takeScreenshot() {

				img = new Image();
				// Without 'preserveDrawingBuffer' set to true, we must render now
				img.src = renderer.domElement.toDataURL();
				img.onload = function () {
					;//console.log("width : "+this.width + " and height : " + this.height);
					};

				//console.log("------------ Taking a screenshot");
				return img;
			}

			function resetBoundingBoxes() {

				screenBbox = { bboxes : [], imgScene: null, imgId: indexNum, imgSize: {w:0, h: 0}};
				indexNum+=indexNum;
			}

			function setPicture(imgPic) {
				/*bboxes = {			"objClass": "none",
									"pixelCoordCenterX": 0,
									"pixelCoordCenterY": 0,
									"pixelCoordScaleW": 0,
									"pixelCoordScaleH": 0,
								}
				Image*/

				screenBbox.imgScene=imgPic.src;
				screenBbox.imgSize.w=imgPic.width;
				screenBbox.imgSize.h=imgPic.height;
				//screenBbox = { bboxes : [], imgScene: null, imgId: indexNum, imgSize: {w:0, h: 0}};
				indexNum+=indexNum;
			}

			function setBoundingBoxes(obj_name, pixelCoordScale, pixelCoordCenter) {
				bboxesTmp = {		"objClass": obj_name,
									"pixelCoordCenterX": pixelCoordCenter.x,
									"pixelCoordCenterY": pixelCoordCenter.y,
									"pixelCoordScaleW": pixelCoordScale.x,
									"pixelCoordScaleH": pixelCoordScale.y,
								};
				screenBbox.bboxes.push(bboxesTmp);
			}

			function setVisibleScene(visibility) {
				for (var l = 1; l < scene2.children.length; l++)
					scene2.children[l].visible=visibility;
			}

			function loadSKU(objectName, jsonPath, modelFileName, objectScene, bboxesScene, qtyCol, qtyRow, qtyFloor, x0,y0,z0) {
				for (var l = 0; l < qtyFloor; l++) {(function(lndex){
					for (var j = 0; j < qtyCol; j++) {(function(jndex){
						for (var i = 0; i < qtyRow; i++) {(function(index){
							new THREE.ObjectLoader()
							 .setPath( "{{ url_for('static', filename="+jsonPath+")}}" )
							 .load(modelFileName,function ( object ) {
									object.position.set(x0+11*jndex, y0+7*lndex, z0-index*4);
									object.scale.set(1.25,1.25,1.25);
									object.name = +index+jndex+lndex;
									objectScene.add( object);
								},onProgress,onError);
								var CBbox = {
									name: objectName+index+jndex+lndex,
									min: new THREE.Vector2(),
									max: new THREE.Vector2(),
									visible: true
								};
								Canvas_Bboxes[Canvas_Bboxes.length] = CBbox;
						})(i);}
					})(j);}
				})(l);}
			}

			function sleep(ms) {
				return new Promise(resolve => setTimeout(resolve, ms));
			}

			function drawCanvasBboxes(){
				ctx.clearRect(0,0,render_Width,render_Heigth);
				for (var i = 0; i < Canvas_Bboxes.length; i++) {
					if (Canvas_Bboxes[i].visible) {
						ctx.beginPath();
						ctx.strokeStyle=Canvas_Bboxes[i].color;
						ctx.rect(Canvas_Bboxes[i].min.x,
										 Canvas_Bboxes[i].min.y,
										 (Canvas_Bboxes[i].max.x-Canvas_Bboxes[i].min.x),
										 (Canvas_Bboxes[i].max.y-Canvas_Bboxes[i].min.y));
						ctx.stroke();
					}
				}
			}

			function randInt ( low, high ) {

				return low + Math.floor( Math.random() * ( high - low + 1 ) );

			}

			function get_all_class_obj(){
				class_obj = [];
				for (var i = 0; i < Canvas_Bboxes.length; i++) {
					if (class_obj.length == 0) {
						class_obj[0] = {
							name: Canvas_Bboxes[i].name.substr(0,Canvas_Bboxes[i].name.length-7)
						};
					}else if (class_obj[class_obj.length-1].name != Canvas_Bboxes[i].name.substr(0,Canvas_Bboxes[i].name.length-7)) {
						class_obj[class_obj.length] = {
							name: Canvas_Bboxes[i].name.substr(0,Canvas_Bboxes[i].name.length-7)
						}
					}
				}
			}

			function get_all_obj_in_each_shelf(){
				var objs = [];
				shelf_objs = [];
				for (var i = 0; i < Canvas_Bboxes.length; i++) {
					if (shelf_objs.length == 0) {
						objs[0] = Canvas_Bboxes[i].name;
						shelf_objs[0] = {
							shelf: Canvas_Bboxes[i].name.substr(Canvas_Bboxes[i].name.length-9,5),
							objs: objs,
							x_objs: parseInt(Canvas_Bboxes[i].name[Canvas_Bboxes[i].name.length-1]),
							y_objs: parseInt(Canvas_Bboxes[i].name[Canvas_Bboxes[i].name.length-2]),
							z_objs: parseInt(Canvas_Bboxes[i].name[Canvas_Bboxes[i].name.length-3]),
							items_hidden: false
						}
					}else {
						var finded_shelf = false;
						for (var s = 0; s < shelf_objs.length; s++) {
							if (shelf_objs[s].shelf == Canvas_Bboxes[i].name.substr(Canvas_Bboxes[i].name.length-9,5)) {
								shelf_objs[s].objs.push(Canvas_Bboxes[i].name);
 								if (parseInt(Canvas_Bboxes[i].name[Canvas_Bboxes[i].name.length-1])>shelf_objs[s].x_objs) {
 									shelf_objs[s].x_objs = parseInt(Canvas_Bboxes[i].name[Canvas_Bboxes[i].name.length-1]);
 								}else if (parseInt(Canvas_Bboxes[i].name[Canvas_Bboxes[i].name.length-2])>shelf_objs[s].y_objs) {
 									shelf_objs[s].y_objs = parseInt(Canvas_Bboxes[i].name[Canvas_Bboxes[i].name.length-2]);
 								}else if (parseInt(Canvas_Bboxes[i].name[Canvas_Bboxes[i].name.length-3])>shelf_objs[s].z_objs) {
 									shelf_objs[s].z_objs = parseInt(Canvas_Bboxes[i].name[Canvas_Bboxes[i].name.length-3]);
	 								}
								finded_shelf = true;
							}
						}
						if (finded_shelf == false) {
							objs = [];
							objs[0] = Canvas_Bboxes[i].name;
							shelf_objs.push({
								shelf: Canvas_Bboxes[i].name.substr(Canvas_Bboxes[i].name.length-9,5),
								objs: objs,
								x_objs: parseInt(Canvas_Bboxes[i].name[Canvas_Bboxes[i].name.length-1]),
								y_objs: parseInt(Canvas_Bboxes[i].name[Canvas_Bboxes[i].name.length-2]),
								z_objs: parseInt(Canvas_Bboxes[i].name[Canvas_Bboxes[i].name.length-3]),
								items_hidden: false
							});
						}
					}
				}
			}

			function hide_items(items_to_hide,shelf_index){
				for (var i = 0; i < items_to_hide; i++) {
					hide_an_item = true;
					x_obj = randInt(0,shelf_objs[shelf_index].x_objs);
					y_obj = shelf_objs[shelf_index].y_objs;
					z_obj = shelf_objs[shelf_index].z_objs;
				  for (var k = 0; k < shelf_objs[shelf_index].objs.length; k++) {
						while (hide_an_item) {
							if ( shelf_objs[shelf_index].objs[k].endsWith(z_obj.toString() + y_obj.toString() + x_obj.toString())) {
								var obj_name = shelf_objs[shelf_index].objs[k];
								var obj = scene.getObjectByName(obj_name);
								if (obj.visible == true) {
									obj.visible = false;
									hide_an_item = false;
								}else {
									if (y_obj > 0) {
										y_obj --;
									}else if (z_obj > 0) {
										y_obj = shelf_objs[shelf_index].y_objs;
										z_obj --;
									}else {
										if (x_objs_sherched.includes(x_obj) == false) {
											x_objs_sherched.push(x_obj);
										}else if ( x_objs_sherched.length <= shelf_objs[shelf_index].x_objs) {
											x_obj = randInt(0,shelf_objs[shelf_index].x_objs);
											y_obj = shelf_objs[shelf_index].y_objs;
											z_obj = shelf_objs[shelf_index].z_objs;
										}else {
											hide_an_item = false;
										}
									}
								}
							}
						}
					}
				}
			}

			function init() {

				renderWidth = render_Width;
				renderHeight = render_Heigth;


				container = document.createElement( 'div' );
				document.body.appendChild( container );


		    Canvas = document.getElementById("Canvas");
				Canvas.style.border = "1px solid #FFFFFF";
		    Canvas.style.position = 'absolute';
				ctx = Canvas.getContext("2d");
		    container.appendChild(Canvas);

				camera = new THREE.PerspectiveCamera( 45, render_Width / render_Heigth, 1, 2000 );
				camera.name = 'camera';

				// scene

				scene = new THREE.Scene();

				var ambientLight = new THREE.AmbientLight( 0xFFFFFF, 0.5 );
				ambientLight.name = 'AmbientLight';
				scene.add( ambientLight );
				/*
				var pointLight = new THREE.PointLight( 0xbbbbbb, 0.8 );
				pointLight.position.set(-300,100,300);
				camera.add( pointLight );*/

				scene.add( camera );

				//PointLights
				for (var j = 0; j < 2; j++) {(function(jndex){
					for (var i = 0; i < 2; i++) {(function(index){
						var pointLight = new THREE.PointLight( 0xffffe0,0.07,0,0.7);
						pointLight.position.set(-200+400*index,400,0+250*jndex);
						pointLight.name = 'PointLight' + index + jndex;
						pointLight.castShadow = true;
						pointLight.shadow.camera.near = 0.1;
						pointLight.shadow.camera.far = 500;
						scene.add( pointLight );
						ligths[ligths.length] = pointLight.name;
					})(i);}
				})(j);}

				controls = new THREE.OrbitControls( camera, container );

				var onProgress = function ( xhr ) {

					if ( xhr.lengthComputable ) {

						var percentComplete = xhr.loaded / xhr.total * 100;
						console.log( Math.round( percentComplete, 2 ) + '% downloaded' );
					}
				};

				var onError = function () { };
				//Escena Pro
				new THREE.ObjectLoader()
				 .setPath( "{{ url_for('static', filename='models/')}}" )
				 .load('scene11.json',function ( object ) {
						object.position.set(0,127,28);
						object.scale.set(4,4,4);
						object.children[0].material.metalness = 0.60;
						object.children[0].material.roughness = 0.80;
						object.name = 'ambient-scene';
						scene.add( object );
					},onProgress,onError);

				for (var obj_to_add = 0; obj_to_add < load_Objs_Info.length; obj_to_add++) {(function(obj_to_add){

				  var path = load_Objs_Info[obj_to_add].filename;
				  new THREE.ObjectLoader()
				   .setPath( "{{ url_for('static', filename='')}}" )
				   .load(path,function ( object ) {

				     for (var l = 0; l < load_Objs_Info[obj_to_add].z_items; l++) {(function(z_index){
				       for (var i = 0; i < load_Objs_Info[obj_to_add].x_items; i++) {(function(x_index){

				         var x_gap = 0;
				         for (var m = 0; m < load_Objs_Info[obj_to_add].tray_x; m++) {
				           x_gap += shelf_distrib_x[parseInt(load_Objs_Info[obj_to_add].tray_y)][m];
				         }

				         var x_pos = gondola_x_init + x_gap ;
				         var y_pos = gondola_y_init + ( shelf_heigth * parseInt(load_Objs_Info[obj_to_add].tray_y) ) ;
				         var z_pos = gondola_z_init;

				         var cloned_Object = object.clone();

				         cloned_Object.geometry.computeBoundingBox();
				         cloned_Object.geometry.center();

				         cloned_Object.applyMatrix(new THREE.Matrix4().makeRotationX(load_Objs_Info[obj_to_add].init_rot_x*(3.1416/180)));
				         cloned_Object.applyMatrix(new THREE.Matrix4().makeRotationY(load_Objs_Info[obj_to_add].init_rot_y*(3.1416/180)));
				         cloned_Object.applyMatrix(new THREE.Matrix4().makeRotationZ(load_Objs_Info[obj_to_add].init_rot_z*(3.1416/180)));
				         cloned_Object.updateMatrix();

				         if (load_Objs_Info[obj_to_add].init_scale_x>0) {
				          cloned_Object.scale.x = load_Objs_Info[obj_to_add].init_scale_x;
				         }

				         if (load_Objs_Info[obj_to_add].init_scale_y>0) {
				          cloned_Object.scale.y = load_Objs_Info[obj_to_add].init_scale_y;
				         }

				         if (load_Objs_Info[obj_to_add].init_scale_z>0) {
				          cloned_Object.scale.z = load_Objs_Info[obj_to_add].init_scale_z;
				         }

				         cloned_Object.position.x = x_pos + load_Objs_Info[obj_to_add].x_size * x_index;
				         cloned_Object.position.y = y_pos + load_Objs_Info[obj_to_add].y_size * load_Objs_Info[obj_to_add].level_shelf;
				         cloned_Object.position.z = z_pos - load_Objs_Info[obj_to_add].z_size * z_index;

				         cloned_Object.name = load_Objs_Info[obj_to_add].product_name + '_' + load_Objs_Info[obj_to_add].tray_x + '_' + load_Objs_Info[obj_to_add].tray_y + '_' +
				                      z_index + load_Objs_Info[obj_to_add].level_shelf + x_index;
				         cloned_Object.castShadow = true;
				         cloned_Object.receiveShadow = true;
				         cloned_Object.material.metalness = 0.7
				         cloned_Object.material.roughness = 0.7
				         scene.add( cloned_Object );

				         var org_trans = {
				          name: cloned_Object.name,
				          scale: new THREE.Vector3().set(
				            cloned_Object.scale.x,
				            cloned_Object.scale.y,
				            cloned_Object.scale.z),
				          rotation:new THREE.Vector3().set(
				            cloned_Object.rotation.x, cloned_Object.rotation.y, cloned_Object.rotation.z),
				          position: new THREE.Vector3().set(
				            x_pos + load_Objs_Info[obj_to_add].x_size * x_index,
				            y_pos + load_Objs_Info[obj_to_add].y_size * load_Objs_Info[obj_to_add].level_shelf,
				            z_pos + load_Objs_Info[obj_to_add].z_size * z_index),
				          rand_x_rot: load_Objs_Info[obj_to_add].x_rot,
				          rand_y_rot: load_Objs_Info[obj_to_add].y_rot,
				          rand_z_rot: load_Objs_Info[obj_to_add].z_rot,
				          rand_x_mov: load_Objs_Info[obj_to_add].x_mov * (load_Objs_Info[obj_to_add].x_size / 100),
				          rand_y_mov: load_Objs_Info[obj_to_add].y_mov * (load_Objs_Info[obj_to_add].y_size / 100),
				          rand_z_mov: load_Objs_Info[obj_to_add].z_mov * (load_Objs_Info[obj_to_add].z_size / 100)
				         };
				         Obj_org_Trans.push(org_trans);
				         var CBbox = {
				          name: cloned_Object.name,
				          min: new THREE.Vector2(),
				          max: new THREE.Vector2(),
				          visible: true,
				          color: "#00FF00"
				         };
				         Canvas_Bboxes.push(CBbox);
				       })(i);}
				     })(l);}
				   },onProgress,onError);
				})(obj_to_add);}


				renderer = new THREE.WebGLRenderer();
				renderer.shadowMap.enabled = true;
				renderer.shadowMap.type = THREE.PCFSoftShadowMap;
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( render_Width, render_Heigth );
			  renderer.autoClear = false;

				container.appendChild( renderer.domElement );
				window.addEventListener( 'resize', onWindowResize, false );
				// add Screenshot listener
				//document.getElementById("shot").addEventListener('click', takeScreenshot);

				//Get all objec class and arrangement

			}

			function onWindowResize() {

				renderer.setSize( render_Width, render_Heigth );
				/*console.log(" ------onWindowResize()-----------");
				console.log(" onWindowResize() render_Width, render_Heigth:"+render_Width +","+render_Heigth);
				console.log("3 ------onWindowResize()-----------");*/
				var windowHalfX = render_Width / 2;
				var windowHalfY = render_Heigth / 2;

				camera.aspect = render_Width / render_Heigth;
				camera.updateProjectionMatrix();
			}

			function animate() {
				requestAnimationFrame( animate );
				render();

				camera.lookAt(new THREE.Vector3(-10,250,0));
				frame++;
				for (var z = 0; z < 1; z++) {(function(asd){
					//console.log("1) position camera  (x,y,z)=(", camera.position.x, camera.position.y, camera.position.z);// +","+ vector.y+ ",(" vector.z+ ")");
					updateCamPosition();
					//console.log("2) position camera  (x,y,z)=(", camera.position.x, camera.position.y, camera.position.z);// +","+ vector.y+ ",(" vector.z+ ")");
					//calcula el nuevo boundingbox antes de renderizarlo
					//todo:
					resetBoundingBoxes();
					//console.log("------------ Setting all visibles");
					var max_Canvas_Bboxes = Canvas_Bboxes.length;
					for (var i = 0; i < max_Canvas_Bboxes; i++) {
						var fullName = Canvas_Bboxes[i].name;
						var obj = scene.getObjectByName(fullName);
						var boundingBox2D = Iss.computeScreenSpaceBoundingBox(obj, camera);
						var boundingBox2D_size = new THREE.Vector2();
						var boundingBox2D_center = new THREE.Vector2();
						boundingBox2D.getSize(boundingBox2D_size);
						boundingBox2D.getCenter(boundingBox2D_center);

						//noice on bbox
						boundingBox2D_size.x = boundingBox2D_size.x + 0.015*randInt(-boundingBox2D_size.x,boundingBox2D_size.x);
						boundingBox2D_size.y = boundingBox2D_size.y + 0.015*randInt(-boundingBox2D_size.y,boundingBox2D_size.y);


						var pixelCoordScale = Iss.normalizedToPixels(boundingBox2D_size, render_Width, render_Heigth);
						var pixelCoordCenter = Iss.normalizedToPixels(boundingBox2D_center, render_Width, render_Heigth);
						Canvas_Bboxes[i].min.x = Math.round( pixelCoordCenter.x - (pixelCoordScale.x / 2) + (render_Width / 2) );
						Canvas_Bboxes[i].max.x = Math.round( pixelCoordCenter.x + (pixelCoordScale.x / 2) + (render_Width / 2) );
						Canvas_Bboxes[i].min.y = render_Heigth - Math.round( pixelCoordCenter.y + (pixelCoordScale.y / 2) + (render_Heigth  / 2) );
						Canvas_Bboxes[i].max.y = render_Heigth - Math.round( pixelCoordCenter.y - (pixelCoordScale.y / 2) + (render_Heigth  / 2) );
						Canvas_Bboxes[i].visible = true;

					}
					//--------------------------------------------------------------------
					//handle objects for dataset (camera position, hide & rotate someones). (from here)
					if (true) {
						//--------------------------------------------------------------------
						if (vis  != last_vis) {//ENTER ONLY EACH CICLE (VIS), SEE updateCamPosition
								get_all_obj_in_each_shelf();
								console.log(shelf_objs);
							if (vis == 0) {
								updateDir_LigthPosition();
								for (var i = 0; i < scene.children.length; i++) {
									scene.children[i].visible = true;
								}
							}
							//console.log(vis);

						//Rotate objects (from here)
						  for (var i = 0; i < Canvas_Bboxes.length; i++) {(function(i){
								if (i == Canvas_Bboxes.length-1) {
									last_vis = vis;
								}
								var obj = scene.getObjectByName(Canvas_Bboxes[i].name);
								/*
								obj.rotation.set(Obj_org_Trans[i].rotation.x,
																 Obj_org_Trans[i].rotation.y,
																 Obj_org_Trans[i].rotation.z);
								*/
								obj.applyMatrix(new THREE.Matrix4().makeRotationX(randInt(
									-Obj_org_Trans[i].rand_x_rot,Obj_org_Trans[i].rand_x_rot)*(3.1416/180)));
								obj.applyMatrix(new THREE.Matrix4().makeRotationY(randInt(
									-Obj_org_Trans[i].rand_y_rot,Obj_org_Trans[i].rand_y_rot)*(3.1416/180)));
								obj.applyMatrix(new THREE.Matrix4().makeRotationZ(randInt(
									-Obj_org_Trans[i].rand_z_rot,Obj_org_Trans[i].rand_z_rot)*(3.1416/180)));
								obj.updateMatrix();
								/*obj.scale.set(Obj_org_Trans[i].scale.x,
															Obj_org_Trans[i].scale.y,
															Obj_org_Trans[i].scale.z);*/

								obj.position.x = Obj_org_Trans[i].position.x + randInt(
									-Obj_org_Trans[i].rand_x_mov,Obj_org_Trans[i].rand_x_mov);
								obj.position.y = Obj_org_Trans[i].position.y + randInt(
									-Obj_org_Trans[i].rand_y_mov,Obj_org_Trans[i].rand_y_mov);
								obj.position.z = Obj_org_Trans[i].position.z + randInt(
									-Obj_org_Trans[i].rand_z_mov,Obj_org_Trans[i].rand_z_mov);
							}) (i);}
							//Rotate objects (to here)
							//--------------------------------------------------------------------
							//Hide objects (from here)
							var hide_an_item;
							var x_obj;
							var y_obj;
							var z_obj;
							var x_objs_sherched = [];
							for (var shelf_index = 0; shelf_index < shelf_objs.length; shelf_index++) {
								if(shelf_objs[shelf_index].items_hidden == false) {
									if (shelf_objs[shelf_index].x_objs == 0) {
										if (Math.random() < 0.5) {
											hide_an_item = true;
											x_obj = 0;
											y_obj = shelf_objs[shelf_index].y_objs;
											z_obj = shelf_objs[shelf_index].z_objs;
											while (hide_an_item) {
												for (var k = 0; k < shelf_objs[shelf_index].objs.length; k++) {
													if ( shelf_objs[shelf_index].objs[k].endsWith(z_obj.toString() + y_obj.toString() + x_obj.toString())) {
														var obj_name = shelf_objs[shelf_index].objs[k];
														var obj = scene.getObjectByName(obj_name);
														if (obj.visible == true) {
															obj.visible = false;
															hide_an_item = false;
														}else {
															if (y_obj > 0) {
																y_obj --;
															}else if (z_obj > 0) {
																y_obj = shelf_objs[shelf_index].y_objs;
																z_obj --;
															}else {
																hide_an_item = false;
																shelf_objs[shelf_index].items_hidden = true;
															}
														}
													}
												}
											}
										}
									}
									else {
										hide_an_item = true;
										x_obj = randInt(0,shelf_objs[shelf_index].x_objs);
										y_obj = shelf_objs[shelf_index].y_objs;
										z_obj = shelf_objs[shelf_index].z_objs;
										var steps = 0;
										while (hide_an_item) {
											for (var k = 0; k < shelf_objs[shelf_index].objs.length; k++) {
												if ( shelf_objs[shelf_index].objs[k].endsWith(z_obj.toString() + y_obj.toString() + x_obj.toString())) {
													var obj_name = shelf_objs[shelf_index].objs[k];
													var obj = scene.getObjectByName(obj_name);
													if (obj.visible == true) {
														obj.visible = false;
														hide_an_item = false;
													}else {
														if (y_obj > 0) {
															y_obj --;
														}else if (z_obj > 0) {
															y_obj = shelf_objs[shelf_index].y_objs;
															z_obj --;
														}else if(steps < (shelf_objs[shelf_index].x_objs + 1) ){
															steps++;
															x_objs_sherched.push(x_obj);
															do {
																x_obj = randInt(0,shelf_objs[shelf_index].x_objs);
															} while (!(x_objs_sherched.includes(x_obj)));
															y_obj = shelf_objs[shelf_index].y_objs;
															z_obj = shelf_objs[shelf_index].z_objs;
														}else{
															hide_an_item = false;
															shelf_objs[shelf_index].items_hidden = true;
														}
													}
												}
											}
										}
									}
								}
							}
							//Hide objects (to here)
						}
						//--------------------------------------------------------------------
					}
					//handle objects for dataset (camera position, hide & rotate someones). (to here)
					//--------------------------------------------------------------------
					//analice each bbox (from here)
					var bbox_to_hide = [];
					for (var j = 0; j < max_Canvas_Bboxes; j++) {
					  var obj_name2 = Canvas_Bboxes[j].name;
						var obj2 = Canvas_Bboxes[j];
						//Hide bboxes out of screen more than 70% (from here)
						var obj2_scale_x = obj2.max.x-obj2.min.x;
						var obj2_scale_y = obj2.max.y-obj2.min.y;

						var max_bbox_out_screen = 0.3;
						var bbox_out_screen_x = 0;
						var bbox_out_screen_y = 0;

						if (obj2.min.x<=0) {
							bbox_out_screen_x = Math.abs(obj2.min.x/obj2_scale_x);
							obj2.min.x = 1;
						}else if (obj2.max.x>=render_Width) {
							bbox_out_screen_x = Math.abs((render_Width-obj2.max.x)/obj2_scale_x);
							obj2.max.x = render_Width-1;
						}
						if (obj2.min.y<0) {
							bbox_out_screen_y = Math.abs(obj2.min.y/obj2_scale_y);
							obj2.min.y = 1;
						}else if (obj2.max.y>=render_Heigth) {
							bbox_out_screen_y = Math.abs((render_Heigth-obj2.max.y)/obj2_scale_y);
							obj2.max.y = render_Heigth-1;
						}
						if (bbox_out_screen_x > max_bbox_out_screen || bbox_out_screen_y > max_bbox_out_screen) {
							bbox_to_hide[j]=true;
						}
						//Hide bboxes out of screen more than 70% (to here)
						//--------------------------------------------------------------------
						//Calcuate overlay between each bbox (from here)
						for (var i = j+1; i < max_Canvas_Bboxes; i++) {
							var obj_name1 = Canvas_Bboxes[i].name;
							if (scene.getObjectByName(obj_name2).visible == true && scene.getObjectByName(obj_name1).visible == true) {
								var obj1 = Canvas_Bboxes[i];
								var overlay = Iss.overlayBetweenTwoCanvasBboxes( obj1, obj2 );
								if ((overlay) > maxOverlay) {
									var dist_camToObj1 = scene.getObjectByName('camera').position
										.distanceToSquared(scene.getObjectByName(obj_name1).position);
									var dist_camToObj2 = scene.getObjectByName('camera').position
										.distanceToSquared(scene.getObjectByName(obj_name2).position);
									if(dist_camToObj1 >= dist_camToObj2){
										bbox_to_hide[i]=true;
									}else {
										bbox_to_hide[j]=true;
									}
								}
							}else if (scene.getObjectByName(obj_name2).visible == false) {
								//bbox_to_hide[j]=true;
								Canvas_Bboxes[j].color = "#FF0000";
							}else {
								//bbox_to_hide[i]=true;
								Canvas_Bboxes[i].color = "#FF0000";
							}
						}
						//Calcuate overlay between each bbox (to here)
						//--------------------------------------------------------------------
					}
					//analice each bbox. (to here)
					//--------------------------------------------------------------------
					//hide bboxes which need to. (from here)
					for (var i = 0; i < bbox_to_hide.length; i++) {
						if (bbox_to_hide[i]) {
							Canvas_Bboxes[i].visible = false; //hide objects if is needed
						}
					}
					//hide bboxes which need to. (to here)

					var k = 0;
					for (var i = 1; i < max_Canvas_Bboxes; i++) {
						if (Canvas_Bboxes[i].visible == true) {
							var fullName = Canvas_Bboxes[i].name;
							var nameOK = fullName.substr(0,(fullName.length-3));
							var box = Canvas_Bboxes[i];

							var box_scale_x = box.max.x-obj1.min.x;
							var box_scale_y = box.max.y-obj1.min.y;

							var box_position_x = box.min.x + box_scale_x/2;
							var box_position_y = box.min.y + box_scale_y/2;



							var pixelCoordCenterX = Math.round(box_position_x);
							var pixelCoordCenterY = Math.round(box_position_y);
							var pixelCoordScaleW = Math.round(box_scale_x);
							var pixelCoordScaleH = Math.round(box_scale_y);

							screenBbox.bboxes[k] = {
								"objClass": nameOK,
								"pixelCoordCenterX": box.min.x,
								"pixelCoordCenterY": box.min.y,
								"pixelCoordScaleW": box.max.x,
								"pixelCoordScaleH": box.max.y,
							}
							k++;
						}
					}



					//ToDo 2:
					//1. All objects shall have it corresponding boundingbox and visibility (as an option when different running scenes are set)
					//2. calculate if Bbox are intersected in more than 50% with any other visible BBox. if it's, calculate the distance of the
					//corresponding object to the camera.
					//3. Only the closest Bbox to the camera will be taken or selected in this iteration

					//ToDo 1:
					//0. Do this only when changes on camera position or a real scene parameter has changed
					//1. Take a screenshot and all the valid BBoxes of the scene
					//2. Send them to the server by using a REST server.

					drawCanvasBboxes();/*
					if (frame<total_frames) {
						setPicture(takeScreenshot());
						sendData(screenBbox);
					}*/


				})(z);}

			}


			function render() {

				//controls.update();
				renderer.clear();
				renderer.render(scene, camera);

			}

		</script>
	</body>
</html>
